@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/notosans/NotoSans-Regular-webfont.eot');
    src: url('fonts/notosans/NotoSans-Regular-webfont.eot') format('embedded-opentype'),
         url('fonts/notosans/NotoSans-Regular-webfont.woff') format('woff'),
         url('fonts/notosans/NotoSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/notosans/NotoSans-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	overflow-x:hidden !important;
	overflow-y:scroll !important;
}
body {
	background: none repeat scroll 0 0 #efeef5;
	margin:0 auto;
	padding:0px;
	font-family:"Noto Sans";
	color:#000000;
}

.topContent{ 
	height:auto; padding:4px 0; font-size:14px; color:#fff; display:table;
}
.header{ height:auto;}
#headerContainer{
	background: none repeat scroll 0 0 #f2f2f2;
    box-shadow: 0 2px 7px #dadada;
    height: auto;
    position: relative;
    top: 41px;
    width: 100%;
    z-index: 1;
}
#headerTop{ width:100%;height: 40px; background:none repeat scroll 0 0 rgba(234, 234, 234, 1); position:fixed; z-index:104;}
header.page-header {
	/*margin-bottom:90px !important;*/
}
ul.inline li { display:inline-block; list-style-type:none; }
.social-icons{ width:30%; float:left;}
.social-icons a {color:#fff;display:inline-block;margin:0 10px;transition:all 0.5s ease-in-out 0s;font-size:22px;}
.social-icons a:hover{ color:#fb0d3f;}

.topNav{
	float: left;
    padding: 5px 5px 4px;
    text-align: right;
    /*width:60%;*/
	width:70%;
} 
.topNav ul li:not(.hide) { list-style:none; display:inline-block; margin-left:7px;}
.topNav ul li a{color:#fb0d3f; text-decoration:none; transition:all 0.2s ease-in-out 0s; font-size:17px;}
.topNav ul li a:hover{color:#333333; text-decoration:none;}
.topNav a span {
    color: #fff; margin-left:5px;
}    
	
.logo{ /*width:12%;*/width:10%; float:left;}
.social{ width:15%;float:left;}

.nav{ width:65%; float:right; font-size:12px; text-align:right; line-height:42px;}

.nav ul li{ list-style:none; display:inline-block; text-transform:uppercase; }

.nav a:link, .nav a:visited{
	color:#000000;
	padding:0 10px;
	display:block;
	text-decoration:none;
}
.nav a:hover{
	color:#000000; border-radius:5px 5px 0 0;
	background:#fb0d3f;
	display:block;transition-duration:0.8s;
	text-decoration:none;
}
.nav .active{
	color:#000000; border-radius:5px 5px 0 0;
	background:#fb0d3f;
	display:block;
	text-decoration:none;
}

.logo a {
	display: block;
    margin-top: 0px;
}
.header-tools-grid {
    border-right: 1px solid #ffffff;
    box-shadow: 0 4px 17px -2px rgba(0, 0, 0, 0.22);
    padding: 0 20px;
}

.header-tools-grid h2 {
    background: linear-gradient(#56585d, #2f3034) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    color: white;
    margin-top: -3px;
    padding: 3px 13px;
    text-align: center;
}
.header-tools-grid ul.inline {
	display: block;
    text-align: center;
}
ul ul.sub-options-ul {
	display:none;
}
ul li:hover>ul.sub-options-ul {
	display:block;
}


.header-tools-grid:not(:first-child) {
    margin-left:13px;
}

.logo a img {
	display:block;
	margin-left:8px;
}

.left-panel {
    /*background:none repeat scroll 0 0 rgba(234, 234, 234, 0.85);*/
	background:rgba(234, 234, 234, 1);
    height: 100%;
    left: 0;
    position: fixed;
    top: 40px;
    width: 240px;
	box-shadow:3px 0 6px 5px #9b9b9b;
	z-index: 103;
}
.side-menu {
	
}
.mid-panel {
    position: relative;
	border: 1px solid #333333;
	z-index:100;
}

#page {
	/*background:url(../images/main_bg.png) no-repeat right bottom !important;*/
	background:#FFFFFF !important;
}

#room-area {
	text-align: center;
	margin: 9px auto auto;
	/*border: 2px dotted #333333;*/
}



/*.success-button {
	background:linear-gradient(rgba(248, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) repeat scroll 0% 0% transparent;
}
.info-button {
	background:linear-gradient(rgba(248, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) repeat scroll 0% 0% transparent;
}
.error-button {
	background:linear-gradient(rgba(248, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) repeat scroll 0% 0% transparent;
}
.warning-button {
	background:linear-gradient(rgba(248, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) repeat scroll 0% 0% transparent;
}
.button:hover:before, button:hover:before {
    opacity: 1;
    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0deg) translateZ(-60px) scale(0.85);
}
.button:hover:after, button:hover:after{
    transform: rotateX(77deg);
    background:inherit;
    bottom: 0;
    box-shadow: 1px -9px 9px 3px #aaaaaa;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    transform-origin: center bottom 0;
    transform-style: preserve-3d;
    width: 100%;
}
button:hover, .button:hover{
    cursor: pointer;
    transform: rotateX(53deg);
    transform-style: preserve-3d;
    transition-duration: 0.3s;
}*/

.button, button{
    display: inline-block;
    font-size:1em; font-weight:normal;
    cursor:pointer;
    padding:5px 20px; transition-duration:0.3s;
    transform-style: preserve-3d;
}


.btn-big{ padding:4% 10%; font-size:2em;}

#right_area 	{ 
					width : 220px; height : 100%; background-color:rgba(234,234,234,1.00); border-left:1px solid #888585; position:fixed;
					top:0px; right:0px; padding-top:1px; box-shadow: 0px 0px 20px #888888; z-index:103;
				}
#right_area h3	{
					padding : 6px 8px 6px 27px; margin:0px; font-size : 14px; font-family:Arial, Helvetica, sans-serif;
					background: #b3b3b3;
					/*background: -moz-linear-gradient(top, #d5d5d5 0%, #b3b3b3);
					background: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#b3b3b3));*/
					background:none repeat scroll 0 0 rgba(212, 204, 189, 1);
					margin: 2px 0 0;
					position: relative;
				}
.marTp40px	{
					margin-top:40px !important;
				}

#right_area table 		{width: 94%; margin-left: 3%;}
#right_area table dd 	{margin:0px; padding: 0px;}
#right_area table dl 	{margin:0px; padding: 0px; float: left}
#right_area table p 	{margin:0px; padding: 0px; margin-top:5px; margin-bottom: 5px; font-family: "Berlin Sans FB Demi"; font-size: 13px; color: #555;}
#right_area table .btn_up 				{background: url("../images/go-up.png") no-repeat; background-size: 100% 100%; width: 24px; height: 18px; cursor: pointer; margin: 0px; margin-left: 2px; background-color: #f5f5f5; border-radius: 3px; box-shadow: 0px 0px 3px #ccc; margin-bottom: 2px;}
#right_area table .btn_down 			{background: url("../images/go-down.png") no-repeat; background-size: 100% 100%; width: 24px; height: 18px; cursor: pointer; margin: 0px; margin-left: 2px; background-color: #f5f5f5; border-radius: 3px; box-shadow: 0px 0px 3px #ccc;}

#right_area table .large 				{height: 25px; width: 170px; padding-left: 10px; }
#right_area table .color_picker			{height: 25px; width: 100px; padding-left: 10px; margin-left: 10px; float: left; margin-top: 3px;}
#right_area table .split_line			{border-bottom: 1px solid #ccc; padding-top: 10px}
#right_area #obj_prop 	{display: none;}

#right_slider	{ position : absolute; background:url("../images/tabslider-right.png") no-repeat center right; width:22px; height:103px; top:35%; right:220px;  cursor:e-resize;}


#size_slider	{ bottom : 70px; z-index:200;}
#size_slider img{ float : left; cursor: pointer;}
#size_slider_body	{ height : 7px; float:left; background-color:white;border:1px solid #999999; border-radius:5px;margin: 4px 14px;
    width: 100px;}
#size_slider_body span	{ width : 12px; height:15px; border-radius : 3px; border:1px solid black; margin-left:-5px;}

#btn_grid 		{ float : left; margin-right: 15px; }
#btn_grid.sel	{box-shadow: 0px 0px 15px blue; cursor: pointer;}
#grid_slider	{ float : left; width : 135px; border: 1px solid gray; margin-top: 7px !important; height: 7px; background-color: #ccc;}
#grid_slider span	{ width : 15px; height: 16px; border: 1px solid gray; background-color: white;}

#move_controlT	{ background-color : #888; width : 210px; height : 30px; position:fixed; z-index:99; top : 45px; display:none; cursor:pointer;}
#move_controlB	{ background-color : #888; width : 210px; height : 30px; position:fixed; z-index:99; top : 95%;  display:none; cursor:pointer;}
#new_route		{ font-size:12px; line-height:20px;}

#ctrl_area 		{ position: fixed; height: 35px; z-index: 999; top:6px; border-bottom: gray; right: 50px;}
#ctrl_area img 	{ width: 32px;}
#ctrl_area ul  	{ right : 100px; float: right; width: 500px;}
#ctrl_area ul li{ float: left; margin-right: 5px; cursor: pointer;}	
.spliter 		{ background:url("../images/spliter.png"); background-position:center center; height: 32px; margin-left: 10px; margin-right: 15px !important;}

input.small {
    font-size: 20px;
    height: 35px;
    padding-left: 5px;
    width: 51px;
}

footer.page-footer {
	/*background:linear-gradient(#2f3034, #56585d) repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 11px;
	z-index: 103;*/
	background: none repeat scroll 0 0 #eaeaea;
    color: #333333 !important;
    font-size: 11px;
    z-index: 102;
}
footer.page-footer a:visited { 
	color:#000000;; 
	text-decoration:none;
}

footer.page-footer a { 
	color:#000000;; 
	text-decoration:none;
}
footer.page-footer a:hover { 
	color:#333333; 
	text-decoration:none;
}

.copyright{ width:20%; float:left;}

.footerNav{ width:80%; float:right; text-align:right;}

.footerNav ul li{ list-style:none; display:inline; margin:0 1% 0 0;}

#main {
    margin: 0px 45px 44px 45px !important;
    position: relative !important;
	padding-bottom:15px !important;
}

#main .boundary {
	border: 1px solid #333333;
	position:absolute;
	width:100%;
	height:100%;
	z-index:100;
	opacity:0.5;
	/*display:none;*/
}


/*=======================================================*/
/*===================ACCORDION MENU======================*/
/*=======================================================*/
#accordian {
	background:#ffffff;
	color: black !important;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
	text-transform: uppercase;
}
/*heading styles*/
#accordian h3 {
	/*background: linear-gradient(#003040, #002535) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:linear-gradient(#56585d, #2f3034) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background:none repeat scroll 0 0 rgba(212, 204, 189, 1.00);
    color: #000000 !important;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 6px;
}
/*heading hover effect*/
#accordian h3:hover {
	/*text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);*/
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*heading styles*/
#accordian h4 {
	/*background: linear-gradient(#004139, #012725) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: #333333 !important;
    cursor: pointer;
    font-size: 11px;
    line-height: 18px;
    padding: 2px 26px;
}
/*iconfont styles*/
#accordian h4 span {
	font-size: 14px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: #333333;
    display: block;
    font-size: 11px;
    line-height: 11px;
    padding: 2px 15px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
	box-shadow:2px 0 5px -3px #9b9b9b;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	border-left: 11px solid #002535;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
#accordian ul li a span {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    margin-top: -4px;
    vertical-align: top;
}
#accordian .sub-menu {
    
}
.sub-options-ul {
}
.sub-options-ul li:not(:last-child) {
	box-shadow: 3px 2px 7px #9b9b9b;
}
.sub-options-ul li:last-child {
	box-shadow:2px -1px 3px #9b9b9b;
}
.sub-options-ul li {
	background: none repeat scroll 0 0 #ffffff;
    display: block !important;

    margin-bottom: 0;
    text-align: left !important;
}
.sub-options-ul li span, .sub-options-ul li img {
	display:inline-block;
	vertical-align: middle;
	color:#333333;
}
.sub-options-ul li img {
	height: 17px;
}
#accordian ul.sub-options-ul li a:hover {
	background:none !important;
	border-left: 16px solid #323438 !important;
}
#accordian ul.sub-options-ul {
	margin-left:34px;
}
.has-sub-menu > li {
    background: none repeat scroll 0 0 white;
}

#accordian ul>li.tools-grid>ul:not(.sub-options-ul)>li>a>img {
	height: 20px;
    margin-bottom: 1px;
    vertical-align: bottom;
}
#accordian ul>li.tools-grid>ul:not(.sub-options-ul)>li>a>span {
	margin-top: 4px !important;
}

#left_slider {
    background: url("../images/tabslider-left.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    right center rgba(0, 0, 0, 0);
    cursor: e-resize;
    height: 103px;
    left: 240px;
    position: absolute;
    top: 30%;
    width: 22px;
}

.marL30pxF {
	margin-left:30px !important;
}

.marR30pxF {
	margin-right:30px !important;
}
#room-area svg {
    overflow: visible;
    position: relative;
    z-index: 9999;
}
header.page-header {
	margin-bottom:40px !important;
}
.top-tools {
    height: 45px;
    left: 0;
    position: relative;
    top:6px;
    width: 66%;
}
input[type="text"] {
	border: 1px solid #c9c9c9;
    border-radius: 0px;
	transition: all 0.5s;
	direction:rtl;
}
.form-holder input[type="text"], .form-holder input[type="date"], .form-holder input[type="number"], textarea, select {
	border: 1px solid #c9c9c9;
	direction:rtl;
    border-radius: 0px;
    padding: 7px 12px;
    width: 90%;
	transition: all 0.5s;
	margin-top: 5px;
}
.form-holder input[type="text"]:focus, .form-holder input[type="date"]:focus, .form-holder input[type="number"]:focus, textarea:focus, select:focus {
    border: 1px solid #517397;
    box-shadow: none;
	transition: all 0.5s;
}

.form-holder .row {
	margin-bottom:8px;
}

svg g:hover{
    cursor: move;
}

svg image:hover {
    cursor: pointer;
}

svg rect#room-svg-boundary {
    opacity: 0.8;
    position: absolute;
    z-index: 999;
}
.zoom-holder {
	color: black;
    float: right;
    margin-left: 10px;
    padding: 0 3px;
    /*width:16%;*/
	margin-right: 96px;
    width: 9%;
}

input#zoom {
	background:none;
	border:0px none;
	width:33px !important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	padding:4px 9px;
	border:0px none;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#45484d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	font-size:1.2em;
	border-radius:5px;
	cursor:pointer;
	transition: all 0.5s;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: #959595; /* Old browsers */
	background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	transition: all 0.2s ease-in-out 0s;
}
.vertical-gap-td {
	height:5px;
}

.circle {
    background: url("../images/circle.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 50px;
    margin: 0;
    padding: 0 0 5px;
    position: relative;
    width: 55px;
	border-radius: 33px;
	transform-style: preserve-3d;
	transition: all 0.5s;
	box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.2);
}

.show-when-changed {
	display:none;
	padding: 11px 0;
    text-align: center;
}

.dialog-form {
    background: none repeat scroll 0 0 white;
    margin: 20px auto;
    max-width: 400px;
    padding: 16px 30px;
    position: relative;
}

.property{
	margin-left:3%; width:94%; float:left;
}
.property > hr {
	background: rgb(239,208,214); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(239,208,214,1) 0%, rgba(247,77,113,1) 56%, rgba(239,208,214,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,208,214,1)), color-stop(56%,rgba(247,77,113,1)), color-stop(99%,rgba(239,208,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* IE10+ */
	background: linear-gradient(to right,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efd0d6', endColorstr='#efd0d6',GradientType=1 ); /* IE6-9 */

    border: 0 none; 
	height: 1px;
	margin:8px 0;
}   
.property p {margin:0px; padding: 0px; margin-top:3px; margin-bottom: 3px; font-family: "Berlin Sans FB Demi"; font-size: 13px; color: #555;}

.property .btn_up {background: url("../images/go-up.png") no-repeat; background-size: 100% 100%; width: 24px; height: 18px; cursor: pointer; margin: 0px; margin-left: 2px; background-color: #f5f5f5; border-radius: 3px; box-shadow: 0px 0px 3px #ccc; margin-bottom: 2px;}
.property .btn_down {background: url("../images/go-down.png") no-repeat; background-size: 100% 100%; width: 24px; height: 18px; cursor: pointer; margin: 0px; margin-left: 2px; background-color: #f5f5f5; border-radius: 3px; box-shadow: 0px 0px 3px #ccc;}

.property dd {margin:0px; padding: 0px;}
.property dl {margin:0px; padding: 0px; float: left}
.property .large {height: 25px; width: 170px; padding-left: 10px; }
.property .color_picker {
	height: 25px;
    margin-left: 6px;
    margin-top: 0;
    padding: 1px 4px;
    width: 90px;
	direction:ltr !important;
	text-transform: uppercase;
}

.right{ float:right!important;}

.col-1{ width:100%; float:left;}
.col-2{ width:50%; float:left;}

.dialog-form hr {
	background: rgb(239,208,214); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(239,208,214,1) 0%, rgba(247,77,113,1) 56%, rgba(239,208,214,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,208,214,1)), color-stop(56%,rgba(247,77,113,1)), color-stop(99%,rgba(239,208,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* IE10+ */
	background: linear-gradient(to right,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efd0d6', endColorstr='#efd0d6',GradientType=1 ); /* IE6-9 */

    border: 0 none; 
	height: 1px;
	margin-bottom:10px;
	margin-top:5px;
} 

.form-holder label {
	padding:5px 2px;
}
.mfp-close {
	color:#333333 !important;
	opacity:1 !important;
}

.h-sep {
	background: rgb(239,208,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,208,214,1) 0%, rgba(247,77,113,1) 56%, rgba(239,208,214,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,208,214,1)), color-stop(56%,rgba(247,77,113,1)), color-stop(99%,rgba(239,208,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,208,214,1) 0%,rgba(247,77,113,1) 56%,rgba(239,208,214,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efd0d6', endColorstr='#efd0d6',GradientType=1 ); /* IE6-9 */
	height:auto !important;
	width:1px !important;	
}

.topNav ul li:not(.no-after):not(.hide):after {
    background: linear-gradient(to bottom, rgba(170, 0, 0, 0) 0%, rgba(170, 0, 0, 1) 50%, rgba(170, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    float: right;
    height: 22px;
    margin-left: 12px;
    width: 1px;
}


svg text textPath {
    font-family: Tahoma;
}

/*svg text textPath {
    fill:#333333;
    stroke:#333333;
    stroke-width:0.14;
    font-size:15px;
	direction:rtl;
}*/
#body-top-bar{
	border-top: 5px solid #f63158;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logout-link {
    background:#f63158;
    border-radius: 0 0 7px 7px;
    color: #ffffff;
    display: inline-block;
    font-size: 19px;
    margin-top: -5px;
    padding: 6px 12px;
    position: absolute;
    right: 66px;
    text-decoration: none;
}

.loadingRIGHT {
	background: url(../images/loading.gif) no-repeat scroll 20px center rgba(0, 0, 0, 0);
}
.loadingLEFT {
	background: url(../images/loading.gif) no-repeat scroll right+14px center rgba(0, 0, 0, 0);
}

.loading {
	background: url(../images/loading.gif) no-repeat scroll center center #FFFFFF;
	height: 50px;
}
.current-project {
	display: block;
    position: absolute;
    top: -1px;
    /*z-index: 102;*/
	z-index: 100;
}
.current-project ul {
	list-style:none;
}
.current-project ul li {
	border-color: #5897fb #5897fb #ffffff;
    border-style: solid;
    border-width: 1px 1px 2px;
    box-shadow: -4px -2px 5px -1px rgba(0, 0, 0, 0.3);
    content: ".";
    display: block;
    float: left;
    height: 18px !important;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px 21px 10px 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
	font-family: Tahoma !important;
}
.current-project ul li:last:after {
	clear:both;
}

/*.a_top {
    float: left;
    height: 15px;
    left: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    width: 15px;
}

.a_left {
    float: left;
    height: 15px;
    left: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 21px;
    width: 15px;
}
.a_right {
    float: left;
    height: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 21px;
    width: 15px;
}
.a_bottom {
    bottom: 4px;
    float: left;
    height: 15px;
    left: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 15px;
}*/
.zoomDirection {
    left: 8px;
    position: absolute;
    top: 50px;
    z-index: 102;
}

.circle a {
    color: #f63158 !important;
    display: inline-block;
    height: 23px;
    text-decoration: none;
    width: 23px;
}
.a_left {
    float: left;
    height: 23px;
    left: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18px;
    width: 23px;
}
.a_top {
    float: left;
    height: 23px;
    left: 17px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 23px;
}
.a_right {
    float: left;
    height: 23px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -2px;
    top: 17px;
    width: 23px;
}
.a_bottom {
    bottom: -1px;
    float: left;
    height: 23px;
    left: 17px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 23px;
}
.circle div[class^="a_"] {
	overflow:hidden;
}
.hide {
	display:none;
	height:0px;
	width:0px;
	overflow:hidden;
	visibility:hidden;
}

.current-project ul li:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: red;
    content: "\f00d";
    font-family: "FontAwesome";
    font-size: 23px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 4px;
    /*vertical-align: top;*/
    width: 16px;
    cursor: pointer;
}



















/*==============NORMAL ARROW==================*/
.ui-tooltip, .arrow:after {
	background:#333333;
	border: 2px solid white;
}
.ui-tooltip {
	direction: rtl !important;
	unicode-bidi:bidi-override !important;
	padding: 8px 15px !important;
	color: white !important;
	background:#333333 !important;
	border-radius: 0px;
	border:0 none !important;
	font: normal 14px Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border:0 none !important;
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
/*==============NORMAL ARROW==================*/
/*==============LEFT SIDE ARROW==================*/
.ui-tooltip, .left-arrow:after {
	background:#333333;
	border: 2px solid white;
}
.left-arrow {
	bottom: -8px;
    height: 49px;
    left: 0;
    margin-left: -24px;
    overflow: hidden;
    position: absolute;
    width: 26px;
}
.left-arrow.top {
	top: -16px;
	bottom: auto;
}
.left-arrow.left {
	left: 20%;
}
.left-arrow:after {
	border: 0 none !important;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 94px;
    box-shadow: 6px 5px 9px -9px black;
    content: "";
    height: 19px;
    left: 11px;
    position: absolute;
    top: 3px;
    transform: rotate(-16deg);
    width: 25px;
}
.left-arrow.top:after {
	bottom: -20px;
	top: auto;
}
/*==============LEFT SIDE ARROW==================*/

/*==============BOTTOM SIDE ARROW==================*/
.ui-tooltip, .bottom-arrow:after {
	background:#333333;
	border: 2px solid white;
}
.bottom-arrow {
	bottom: -19px;
    height: 24px;
    left: 0;
    margin-left: 0;
    overflow: hidden;
    position: absolute;
    width: 80px;
}
.bottom-arrow.top {
	top: -16px;
	bottom: auto;
}
.bottom-arrow.left {
	left: 20%;
}
.bottom-arrow:after {
	border: 0 none !important;
    content: "";
    height: 29px;
    left: 3px;
    position: absolute;
    top: -17px;
    transform: rotate(149deg);
    width: 33px;
}
.bottom-arrow.top:after {
	bottom: -20px;
	top: auto;
}
/*==============LEFT SIDE ARROW==================*/



#project-list-tr img {
	height:80px !important;
}

.form-holder table td, .form-holder table th {
	/*padding:3px 11px;*/
	padding: 3px 6px;
	word-wrap: break-word;
}

.mfp-content #delete-project {
	min-width:900px;
}
.mfp-content #sent-project {
	min-width:900px;
}

li:has(> a.fa-file) { display:none !important; }

svg text {
	/*display:none !important;
	visibility:hidden !important;
	height:0px !important;*/
}


.pop-help {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(222, 222, 222, 1) 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 2px 0 #8a8a8a, 0 1px 0 rgba(255, 255, 255, 0.99) inset, 0 0 6px rgba(0, 0, 0, 0.5);
    color: #004;
    margin: 0 0 0 74px;
    opacity: 0;
    padding: 10px 15px 10px 12px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.99);
}
.pop-help b {
    background: url(../images/tria-help.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -15px;
    display: block;
    height: 16px;
    left: 39px;
    position: absolute;
    width: 18px;
}

.pop-help span {
    line-height: 15px;
}

.pop-help .close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #009;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 4px;
    text-decoration: none;
    text-shadow: none;
    top: 7px;
}

g[id^="g_sq"] text, g[id^="g_rc"] text, g[id^="g_c"] text { display:none; }
svg g[id^="tooltip_g_"] switch foreignObject p {
	direction: rtl;
	height:63px;
	margin:0;
	overflow-y:scroll;
	padding:3px 8px;
	font-size:25px !important;
	font-weight:bolder;
	color:#FFFFFF;
	text-align: right;
	unicode-bidi: bidi-override;
}

svg g[class^="tablenumber_"] switch foreignObject {
	font-size:30px !important;
    font-weight:bolder !important;
	color:#000000 !important;
}
svg text[id^="project_captions_"] {
	/*direction: rtl;
	text-align: right;
	unicode-bidi: bidi-override;*/
}
svg g[id^="tooltip_g_"] p {
	direction: rtl;
	height: 76px;
	margin: 0;
	overflow-y: scroll;
	padding: 10px 8px;
	font-size:22px;
	text-align: right;
	unicode-bidi: bidi-override;
}

.dummy_form { display:none;visibility:hidden;height:0px;width:0px; }

#guest-list ul#all-guests li {
	display: block;
    list-style: outside none none;
    padding: 2px 3px 2px 1px;
	margin-bottom: -8px;
	border: 2px dashed transparent;
}
#guest-list ul#all-guests li>span:before {
	content: '\e8d1';
	font-family: "fontello";
	color:#333333;
	font-size: 14px;
    margin-right: 4px;
}
#guest-list ul#all-guests li>span {
	/*background: url(../images/guest-img.png) no-repeat scroll 0 0 / 26px 26px rgba(0, 0, 0, 0);*/
    color: #333333;
    display: inline-block;
	cursor:pointer;
    line-height: 15px;
    margin-bottom: 0;
    text-decoration: none;
}
#guest-list ul#all-guests li>span>span.li-guest-name {
	/*background: url(../images/guest-img.png) no-repeat scroll 0 0 / 26px 26px rgba(0, 0, 0, 0);*/
    display: inline-block;
    font-family: Tahoma !important;
    font-size: 12px;
    line-height: 20px;
    margin-left: -5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 135px;
}
#guest-list ul#all-guests li>span.assigned>span.li-guest-name {
	/*background: url(../images/guest-img.png) no-repeat scroll 0 0 / 26px 26px rgba(0, 0, 0, 0);*/
    width: 118px !important;
}
#guest-list ul#all-guests li>span.assigned:after {
	content: '\e80e';
	font-family: "fontello";
    font-size: 17px;
    margin-left: 1px;
	color:#038000;
}
#guest-list ul#all-guests li>span.assigned {
	cursor:not-allowed;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}
.column {
	height: 150px;
	width: 150px;
	float: left;
	border: 2px solid #666666;
	background-color: #ccc;
	margin-right: 5px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px #000;
	-ms-box-shadow: inset 0 0 3px #000;
	box-shadow: inset 0 0 3px #000;
	text-align: center;
	cursor: move;
}
.column header {
	color: #fff;
	text-shadow: #000 0 1px;
	box-shadow: 5px;
	padding: 5px;
	background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
	background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
	background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
	background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
	border-bottom: 1px solid #ddd;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-ms-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-ms-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
#all-guests li {
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
}
#all-guests li.over {
  border: 2px dashed #000 !important;
}
#all-guests li.moving {
	opacity: 0.25;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
}
#all-guests li .count {
	padding-top: 15px;
	font-weight: bold;
	text-shadow: #fff 0 1px;
}

#edit-text label, div.mfp-content div[id^="edit-"][id$="-figure"] label {
	display: inline-block;
    width: 160px !important;
}
a.manage-guests {
	color: #333333;
    float: right;
    font-size: 0.9em;
    margin-top: -5px;
    padding: 5px 7px;
}
a.manage-guests:after {
	clear:both;
}
.mfp-content #manage-guests {
    min-width: 900px;
}
a.addGuestlist {
	color:#333333;
	margin-top:4px;
	font-size:0.9em;
	float:right;
}
a.upload-guestlist-excel {
	color: #333333;
    float: right;
    font-size: 0.9em;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 4px;
}
a.addGuestlist:after {
	clear:both;
}
a.sample-excel {
	color: #333333;
    float: right;
    font-size: 0.9em;
    margin-right: 35px;
    margin-top: 4px;
}
.guestlist-dataload {
	display: none;
    height: 42px;
    margin-top: -5px;
    position: absolute;
    vertical-align: middle;
    width: 46px;
}

.removeRow {
	background: #C41B1B; /* Old browsers */
	background: -moz-linear-gradient(top,  #C41B1B 0%, #F94D4D 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C41B1B), color-stop(100%,#F94D4D)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #C41B1B 0%,#F94D4D 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C41B1B', endColorstr='#F94D4D',GradientType=0 ) !important; /* IE6-9 */
	transition: all 0.5s !important;

}
.removeRow:hover {
	
	transition: all 0.5s !important;
}

.smallBut {
	display:inline-block;
	width:auto !important;
	border-radius: 4px !important;
    cursor: pointer !important;
    font-size: 1.1em !important;
    padding: 2px 4px !important;
}

#right_area h3:after {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    content: '\e814';
    cursor: pointer;
    font-family: 'fontello';
    font-size: 20px;
    height: 20px;
    left: 5px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.expandIcon:after {
	background: none repeat scroll 0 0 transparent;
    color: #333333;
    content: '\e812' !important;
    cursor: pointer;
    font-family: 'fontello';
    font-size: 20px;
    height: 20px;
    left: 5px;
    position: absolute;
    top: 7px;
    width: 20px;
}
#guestlistDropSPINNER {
    margin-left: 60px;
    margin-top: 27px;
}
.button-holder {
	position: absolute;
    right: 40px;
    text-align: right;
}
.button-holder input[type="button"].toggled {
	box-shadow: 0 2px 8px 0 #333333;
	font-size: 0.9em !important;
	background: #C41B1B; /* Old browsers */
	background: -moz-linear-gradient(top,  #C41B1B 0%, #F94D4D 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C41B1B), color-stop(100%,#F94D4D)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #C41B1B 0%,#F94D4D 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #C41B1B 0%,#F94D4D 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C41B1B', endColorstr='#F94D4D',GradientType=0 ) !important; /* IE6-9 */
	transition: all 0.5s !important;
}
.button-holder input[type="button"]:not(.toggled) {
	box-shadow: 0 2px 8px 0 #333333;
	font-size: 0.9em !important;
	background: #1e5799;
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	transition: all 0.5s !important;
}
.button-holder input[type="button"]:not(.toggled):hover {
	background: #7db9e8;
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 50%, #1e5799 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(100%,#1e5799));
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%);
	background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%);
	background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 50%,#1e5799 100%);
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 50%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
	transition: all 0.5s !important;
}
.button-holder input[type="button"].toggled:hover {
	cursor:progress !important;
}
input.smallest {
	font-size: 12px;
    padding: 2px 4px;
    text-align: center;
    width: 19px;
}

#guestlist-data-rows input[type="text"][name="sl_no[]"] {
	padding: 3px 4px !important;
    text-align: center;
    width: 86% !important;
}

#manage-guests tbody#guestlist-data-rows input:not([type="button"]):not([name="sl_no[]"]) {
	display: block;
    /*width: 62% !important;*/
	/*padding: 6px 4px !important;*/
	padding: 3px 4px !important;
}
tbody#guestlist-data-rows th, tbody#guestlist-data-rows td {
	/*padding:3px 8px !important;*/
	padding: 1px 2px !important;
}

tbody#guestlist-data-rows td input[type="text"], tbody#guestlist-data-rows td input[type="number"] {
	/*padding:3px 8px !important;*/
	margin-top:0px !important;
}
.ht350px {
    height: 310px;
    overflow-y: scroll;
}
.rtl {
    direction: rtl;
}

.current-project.saving-booking:after {
    color: green;
    content: "\f110";
    font-family: "FontAwesome";
    font-size: 32px;
    position: absolute;
    right: -35px;
    top: 3px;
    vertical-align: top;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}
.li-guest-name span.first-name, .li-guest-name span.last-name {
	display:inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
	float: left;
	text-align:right;
	direction: rtl;
}
.li-guest-name span.first-name {
    width: 53px !important;
}
.li-guest-name span.last-name {
    width: 52px !important;
	margin-left:5px;
}
#header-all-guests span[class^="header-"] {
	/*float: left;*/
	text-align:right;
	display:inline-block;
	float: left;
}
#header-all-guests span[class^="header-"] a {
	text-decoration:none;
	color:#4A9CDE;
	font-size:12px;
}
#header-all-guests span[class^="header-"] a.ASC:before {
	font-family: 'FontAwesome';
	content: "\f077";
	color:#FF0000;
	font-size:12px;
}
#header-all-guests span[class^="header-"] a.DESC:before {
	font-family: 'FontAwesome';
	content: "\f078";
	color:#FF0000;
	font-size:12px;
}
#header-all-guests span.header-first-name {
    width: 52px;
}
#header-all-guests span.header-remaining-count {
    width: 40px;
}
#header-all-guests span.header-booking-state {
    width: 40px;
}
#header-all-guests span.header-last-name {
    width: 57px;
}

.li-guest-name span.last-name:after {
	clear:both;
}

/*span.assigned .li-guest-name span.first-name {
    width: 53px !important;
}
span.assigned .li-guest-name span.last-name {
    width: 52px !important;
}*/

svg g[id^="GUEST_NOTIFIER_"] switch foreignObject p {
    color: #333333;
	direction: rtl;
	font-size: 10px !important;
	font-weight: bolder;
	height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 3px 2px;
	text-align: right;
	unicode-bidi: bidi-override;
	word-wrap: break-word;
}

.color-red span {
	color:#ff0000 !important;
}
.color-red span:before {
	color:#ff0000 !important;
}

.inlineBlock {
	display:inline-block !important;
}
.color-picker-block img {
	vertical-align:middle;
}

#guest-list #TOTAL_GUESTS, #guest-list #TOTAL_SITTING {
	padding: 3px 5px !important;
	font-size: 17px !important;
    height: 20px !important;
}

select.small {
	font-size: 11px;
    padding: 2px 4px !important;
    width: 90% !important;
}

.MarTB3Px {
	margin:3px 0 !important;
}

ul#allotted-guest-vs-table-header {
	list-style: outside none none;
	margin-left: 6px;
}
ul#allotted-guest-vs-table-header>li>span {
	font-size:11px !important;
	height: 13px !important;
    line-height:14px !important;
}
ul#allotted-guest-vs-table {
	height: 290px;
    list-style: outside none none;
    margin-left: 6px;
    overflow-y: scroll;
}
ul.allotted-guest-vs-table {
	direction:rtl;
}
ul.allotted-guest-vs-table>li {
	display:block;
}
ul.allotted-guest-vs-table>li>span {
	font-family: Tahoma !important;
    display: inline-block;
    font-size: 13px;
    height: 16px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.allotted-guest-vs-table>li>span.booked-first-name {
	width:61px;
}
ul.allotted-guest-vs-table>li>span.booked-last-name {
	width:61px;
}
ul.allotted-guest-vs-table>li>span.booked-table-number {
	width:61px;
}
#right_area>h3:first-of-type {
	margin-top:40px !important;
}

.no-border {
	border:0px none !important;
}

.z103 {
    z-index: 103 !important;
}
.clear {
	content:".";
}
#main-other {
	margin: 0 0 0 255px !important;
    min-height: 415px;
    padding: 23px;
}

.ui-widget {
    font-size: 0.8em !important;
}
.ui-tooltip {
    font-size: 0.8em !important;
}

.marB10px {
	margin-bottom:10px;
}
.marT30px {
	margin-top:30px;
}

a.link {
	text-decoration:none;
	color:#333333;
}
.smallFont {
    font-size: 0.8em !important;
}

a[href="#LANG_DROP"] {
	background:#ffffff;
    border-radius: 0 0 7px 7px;
    color: #333333;
    display: inline-block;
    font-size: 16px;
    margin-top: 0;
    padding: 3px 4px;
    position: absolute;
    right: 10px;
    text-decoration: none;
	transition: all 0.5s;
	text-transform:uppercase;
}

.wd87p {
	width: 87%;
	margin: auto;
}

#SITE_LANG {
	background:white;
	border:1px solid #A5A5A5;
    border-radius: 3px;
    box-shadow: 3px 4px 5px 0 #a5a5a5;
    list-style: outside none none;
    position: absolute;
    right: 9px;
    text-decoration: none;
    top: 28px;
    z-index: 9999;
}

#SITE_LANG li {
    border-bottom: 1px solid #a5a5a5;
    padding: 5px 18px;
	background:white;
	cursor:pointer;
	transition: all 0.5s;
}
#SITE_LANG li:hover {
    background:#D4CCBD;
	transition: all 0.5s;
}

.en {
    direction:ltr !important;
}
.en input {
    direction:ltr !important;
}
.en select {
    direction:ltr !important;
}
.en div.mfp-content div.dialog-form div.form-holder {
	direction:ltr !important;
	text-align:left !important;
}
.en div.mfp-content {
	direction:ltr !important;
}
.en .mfp-close {
	left: unset !important;
	right:0px !important;
}
.en .context-menu-list {
	direction:ltr;
}



.he {
}
.he input {
    direction:rtl !important;
}
.he select {
    direction:rtl !important;
}
.he div.mfp-content div.dialog-form div.form-holder {
	direction:rtl !important;
	text-align:right;
}
.he div.mfp-content {
	direction:rtl !important;
	text-align:right;
}
.he .mfp-close {
	right: unset !important;
	left:0px !important;
}
.he .context-menu-list {
	direction:rtl !important;
}
.he .context-menu-list {
	margin-left:-80px !important;
}
.he .context-menu-item span:before {
	padding-left: 12px;
}

#project>option {
	padding: 2px 6px;
}
select {
	padding: 5px 12px !important;
}

#printGuestListID input[type="button"] {
    width: 95px;
}

.zoom-holder span.icon-zoom-in {
	display: inline-block;
    font-size: 22px;
    padding-top: 0;
    position: relative;
    right: -17px;
    top: 2px;
    vertical-align: top;
}